{
  "presets": ["@babel/preset-react", "@babel/preset-env"],
  "env": {
    "commonjs": {
      "ignore": ["*.test.js"],
      "plugins": ["transform-es2015-modules-commonjs", ["transform-react-remove-prop-types", { "mode": "wrap" }]],
      "presets": [
        "@babel/preset-react",
        [
          "@babel/preset-env",
          {
            "modules": false
          }
        ]
      ]
    },
    "es": {
      "ignore": ["*.test.js"],
      "plugins": [["transform-react-remove-prop-types", { "mode": "wrap" }]],
      "presets": [
        "@babel/preset-react",
        [
          "@babel/preset-env",
          {
            "modules": false
          }
        ]
      ]
    }
  }
}
